.wrapper {
  background-color: #230715;
  min-height: 40vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.heading {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #d10d08;
}
.right_section {
  display: flex;
  color: white;
}
.right_section ul {
  margin-left: 5rem;
  list-style-type: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: large;
  line-height: 2;
}
.socialmedia_icons {
  width: 20%;
  color: white;
}
.socialmedia_icons span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: white;
  margin-right: 1rem;
  color: red;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.socialmedia_icons span:hover {
  transform: scale(1.2);
}
.copyrights {
  
  position: absolute;
  bottom: 0;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: large;
  min-width: 100%;
  text-align: center;
}

@media screen and (max-width: 1100px) {
  .wrapper {
    flex-direction: column;
    min-height: 60vh;
   
  }
  .socialmedia_icons {
    width: 80%;
  }
  .right_section ul {
    line-height: 1.1;
    margin-left: 0.5rem;
  }
}
